@import "tailwindcss";

.font-syne {
    font-family: 'Syne', sans-serif;
}

.font-dm {
    font-family: 'DM Sans', sans-serif;
}

/* Hide scrollbar for horizontal scroll areas */
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}